body{
    margin-left: 2.5em;
    margin-right: 2.5em;
    background-color: rgb(255, 221, 96);
}



header h1{
    text-align: center;
    font-size: 100px;
}

header .navbar{
    border-top: rgb(0, 0, 0) solid 5px;
    border-bottom: rgb(0, 0, 0) solid 5px
}

header .navbar ul{
    list-style-type: none;
    display: flex;
}

header .navbar a {
    font-size: 50px;
}

header .navbar ul li{
    margin-left: 3em;
    margin-right: 3em;
}

header .page-navbar a{
    font-size: 30px;
}