body{
    margin-left: 5em;
    margin-right: 5em;
    background-color: rgb(255, 221, 96);
    font-size: 30px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}


header h1{
    text-align: center;
    font-size: 100px;
}

header .navbar{
    border-top: rgb(0, 0, 0) solid 5px;
    border-bottom: rgb(0, 0, 0) solid 5px
}

header .navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header .navbar a {
    font-size: 50px;
}

header .navbar ul li{
    margin-left: 3em;
    margin-right: 3em;
}

header .page-navbar a{
    font-size: 30px;
}

.contents{
    margin-left: 10%;
}

.contents ul{
    list-style-type: none;
}

.contents .ingredients ul{
    display: flex;
}

.contents .ingredients ul li{
    width: 500px;
    height: 160px;
    padding: 1%;
}



.contents ul li{
    border: solid 3px rgba(255, 255, 0, 0.601);
    background-color: rgba(255, 228, 196, 0.478);
    margin: 1em;
    border-radius: 10px;
    padding: 2%;
    
}